<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Page</title>
</head>
<body>

    <script>
        window.location.href = 'http://13.51.109.27:72/';
    </script>

</body>
</html>