@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@using FM_MyStat.Core.DTOs.HomeworksDTO.Homework;
@model HomeworkDTO;
@if (User.IsInRole("Administrator"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else if (User.IsInRole("Teacher"))
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
else
{
    ViewData["Title"] = "Homework";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Delete homework</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- START ALERTS AND CALLOUTS -->
            <div class="row">
                <div class="col-md-6 offset-3">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-exclamation-triangle"></i>
                                Warning!
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="callout callout-danger">
                                @if (@ViewBag.DeleteHomeworkError != null)
                                {
                                    <span class="text-danger">@ViewBag.DeleteHomeworkError</span>
                                }
                                <h5 class="mb-4">Do you really wants to delete homework @Model.Title?</h5>
                                <a asp-controller="Homework" asp-action="DeleteHomework" asp-route-id="@Model.Id" style="width: 25%;" class="btn btn-block btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>