 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar_cs">

    <link rel="stylesheet" href="~/css//stulessidebar.css">

    <div class="sidebar-image-container d-flex align-items-center justify-content-center mt-3">

        <img id="sidebar-image" src="~/dashboard/img/logo_m.png" alt="Sidebar Image" class="sidebar-image">

        <div id="brand-letter" class="brand-letter" style="font-family:'Eras ITC'">M</div>
    </div>


    <hr />
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" style="margin-bottom: 30px">
                    <a asp-controller="Student" asp-action="AllHomeworks" class="nav-link d-inline">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Your homeworks</p>
                    </a>
                </li>
                <li class="nav-item" style="margin-bottom: 30px">
                    <a asp-controller="News" asp-action="GetAll" class="nav-link d-inline">
                        <i class="fas fa-paper-plane nav-icon"></i>
                        <p>News</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sidebarImage = document.getElementById('sidebar-image');
        var brandLetter = document.getElementById('brand-letter');

        // Initially hide the letter M
        brandLetter.style.display = 'none';

        // Toggle the visibility of the image and letter M when the sidebar button is clicked
        document.querySelector('.nav-item a[data-widget="pushmenu"]').addEventListener('click', function () {
            setTimeout(function () {
                sidebarImage.style.display = sidebarImage.style.display === 'none' ? 'block' : 'none';
                brandLetter.style.display = brandLetter.style.display === 'none' ? 'block' : 'none';
            }, 300); // Adjust the delay (in milliseconds) based on your layout transition duration
        });
    });
</script>