@using FM_MyStat.Core.DTOs.GrouopsDTO;
@model EditGroupDTO;

@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .card-header {
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color: white;
    }

    .btn-primary {
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color: white;
    }

    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 100%;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

        .form__field::placeholder {
            color: transparent;
        }

        .form__field:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }

    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
    }

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        font-weight: 700;
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        border-image-slice: 1;
    }

    /* Reset input */
    .form__field:required,
    .form__field:invalid {
        box-shadow: none;
    }

    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Group managament</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 offset-3">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Update group</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @if (@ViewBag.AuthError != null)
                                {
                                    <span class="text-danger mt-3">@ViewBag.AuthError</span>
                                }
                                <form method="post" asp-controller="Group" asp-action="Update">
                                    <div class="card-body">
                                        <div class="mb-3 form__group field">
                                            <div class="form__group field">
                                            <input type="text" asp-for="Name" name="name" class="form__field" placeholder="Group name">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                                <label class="form__label">Group</label>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-body">
                                        <div class="mb-3 form__group field">
                                            @if (ViewBag.TeacherList != null)
                                            {
                                                @Html.DropDownList("TeacherId", ViewBag.TeacherList as SelectList, "-- Select Teacher --", new { @class = "form__field" })
                                            }
                                            else
                                            {
                                                <p>Teacher list is not available.</p>
                                            }
                                            <label for="TeacherId" class="form__label">Teacher</label>
                                        </div>
                                        </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-warning">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>