﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./AdminDashboard/_Header.cshtml" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="./AdminDashboard/_NavBar.cshtml" />
        <partial name="./AdminDashboard/_SideBar.cshtml" />
        @RenderBody()
        <partial name="./AdminDashboard/_Footer.cshtml" />
    </div>
    <partial name="./AdminDashboard/_FooterIncludes.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>