﻿<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./Login/_Header.cshtml" />
</head>

    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)

</html>