﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./StudentDashboard/_Header.cshtml" />
</head>
<body class="hold-transition sidebar-mini" style="background:#e1f1fd">
    <div class="wrapper" style="background:#e1f1fd;">
        <partial name="./StudentDashboard/_NavBar.cshtml" />
        <partial name="./StudentDashboard/_SideBar.cshtml" />
        @RenderBody()
        <partial name="./StudentDashboard/_Footer.cshtml" />
    </div>
    <partial name="./StudentDashboard/_FooterIncludes.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 