@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using FM_MyStat.Web.Models.ViewModels;
@model TeacherEditSubjectsViewModel
@{
    ViewData["Title"] = "Редагування предметів";
}
<style>
    .card-header {
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color: white;
    }

    .btn-primary {
        background: rgb(92,121,171);
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        color: white;
    }

    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 100%;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

        .form__field::placeholder {
            color: transparent;
        }

        .form__field:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }

    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
    }

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        font-weight: 700;
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%);
        border-image-slice: 1;
    }

    /* Reset input */
    .form__field:required,
    .form__field:invalid {
        box-shadow: none;
    }

    }
</style>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default mt-4">
                <div class="card-body">
                    @if (ViewBag.CreateUserError != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.CreateUserError
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="card card-primary mt-4">
                                <div class="card-header">
                                    <h3 class="card-title" style="color:white">Edit Subjects for Teacher</h3>
                                </div>
                                <form asp-action="EditSubjects" method="post">
                                    <div class="card-body">
                                        <input type="hidden" asp-for="TeacherId" />
                                        <div class="form__group field">
                                            <label for="Subjects">Select subjects:</label>
                                            @for (int i = 0; i < Model.Subjects.Count; i++)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="Subjects_@(i)" name="Subjects[@i].Selected" value="true" @(Model.Subjects[i].Selected ? "checked" : "") />
                                                    <input type="hidden" name="Subjects[@i].Id" value="@Model.Subjects[i].Id" />
                                                    <label class="form-check-label" for="Subjects_@(i)">@Model.Subjects[i].Name</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Save</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
