@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using FM_MyStat.Core.DTOs.UsersDTO.User;
@model EditUserDTO
<section class="min-vh-100 mb-8">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                    <div class="text-center pt-4">
                        <h5>Edit user information</h5>
                    </div>
                    <div class="card-body">
                        <form role="form text-left" method="post" asp-action="Edit">
                            @if (@ViewBag.AuthError != null)
                            {
                                <span class="text-danger">@ViewBag.AuthError</span>
                            }
                            <div class="mb-3">
                                <label>FirstName</label>
                                <input asp-for="Id" type="hidden" class="form-control" aria-label="Id" aria-describedby="email-addon" />
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName" aria-label="FirstName">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="mb-3">
                                <label>LastName</label>
                                <input asp-for="Id" type="hidden" class="form-control" aria-label="Id" aria-describedby="email-addon" />
                                <input asp-for="LastName" type="text" class="form-control" placeholder="LastName" aria-label="LastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                            <div class="mb-3">
                                <label>Last name</label>
                                <input asp-for="SurName" type="text" class="form-control" placeholder="SurName" aria-label="SurName">
                                <span class="text-danger" asp-validation-for="SurName"></span>
                            </div>
                            <div class="mb-3">
                                <Email>Email</Email>
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3">
                                <label>Phone number</label>
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Phone Number" aria-label="PhoneNumber">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>