@using FM_MyStat.Core.DTOs.NewsDTO;
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model List<NewsDTO>


<style>
    .card-header {
        background: linear-gradient(38deg, rgba(92,121,171,1) 0%, rgba(52,79,126,1) 57%, rgba(39,39,99,1) 100%, rgba(32,48,76,1) 100%)
    }

    .card-body, .card {
        background: #c1d8f0;
    }

    .card_title {
        font-weight: bold;
        font-size: 20px;
        color: white;
        -webkit-text-stroke: 0.2px gray;
    }

    .block1, .list-group-item {
        background: #E1EFFB;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @* <h1 class="m-0">Dashboard</h1> *@
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @* <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard </li> *@
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1 class="card_title" style="font-size:30px;">
                                Recent news
                            </h1>
                        </div>
                        <div class="card-body">
                            @foreach (var news in Model)
                            {
                                <div class="card mt-4">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1 class="card_title">@news.Title</h1>
                                            </div>
                                            <div class="col-md-6 text-md-right">
                                                <h1 class="card_title">@news.Time</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">@news.Description</p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>