@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a class="h1"><b>MyStat</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Password setting</p>
            @if (ViewBag.AuthError != null)
            {
                <span class="text-danger">@ViewBag.AuthError</span>
            }
            <form method="post" asp-action="ResetPassword">

                <div class="input-group mb-3" hidden>
                    <input type="email" required name="Email" value="@ViewBag.Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3" hidden>
                    <input type="text" required name="Token" class="form-control" value="@ViewBag.Token">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" required name="Password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" required name="confirmPassword" class="form-control" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                    <div class="col-8">
                        <p class="float-right">
                            <a asp-controller="Login" asp-action="Index">Sign In</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>